<dialog>
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{actionText}} <a href="{{url}}">{{key}}</a></h3>
        </div>
        <div class="modal-content">
            {{{content}}}
        </div>
        <div class="modal-footer">
            <action id="save" class="tempo-btn--primary"/>
            <action id="cancel" class="tempo-btn--secundary"/>
        </div>
    </div>
</dialog>